
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="page-title">Chọn </h1><!--Fanpages-->
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet ">
                <div class="profile-userpic">
                    <img src="~/Content/assets/pages/media/profile/profile_user.jpg" class="img-responsive" />
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">Trung Hai</div>
                    <div class="profile-usertitle-job">Trung Hai</div>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light "></div>
                </div>
            </div>
        </div>
        
    </div>
</div>